/**
* File name : footer page
* Keval Sanjaybhai Patel
* Student ID 301171202
* Date: 12/02/2021
*/
<!-- ======= Footer ======= -->
<footer id="footer">


<div class="container">
//<div class="row justify-content-center">
<div class="col-lg-6">

</div>
</div>
</div>

<div class="footer-top">
<div class="container">
<div class="row">

<div class="col-lg-3 col-md-6 footer-contact">
<h3><i class="fab fa-korvue" style="color:DodgerBlue;">Keval</i></h3>
<p>
A108 Keval Patel
<br>India<br><br>
<strong>Phone:</strong> +91 9265726450<br>
<strong>Email:</strong> keval7126@gmail.com<br>
</p>
</div>

<div class="col-lg-3 col-md-6 footer-links">
<h4>Information About Me</h4>
<ul>
<li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
<li><i class="bx bx-chevron-right"></i> <a href="/aboutMe">About us</a></li>
<li><i class="bx bx-chevron-right"></i> <a href="/service">Services</a></li>
<li><i class="bx bx-chevron-right"></i> <a href="/p">Projects</a></li>
<li><i class="bx bx-chevron-right"></i> <a href="/c">Contacts</a></li>
</ul>
</div>


<div class="col-lg-3 col-md-6 footer-links">
<h4>Connect with me</h4>
<div class="social-links mt-3">
<a href="https://twitter.com/Kevalpa47792249" class="twitter"><i class="bx bxl-twitter"></i></a>
<a href="mailto:keval7126@gmail.com" class="google-plus"><i class="bx bxl-google"></i></a>
<a href="https://www.linkedin.com/in/keval-patel-00b04512a/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
</div>
</div>

</div>
</div>
</div>

<div class="container py-4">
<div class="copyright">
&copy; Copyright <strong><span><i class="fab fa-korvue" style="color:DodgerBlue;">Keval</i></span></strong>. All Rights Reserved
</div>

</footer><!-- End Footer -->