/**
* File name : header file
* Keval Sanjaybhai Patel
* Student ID 301171202
* Date: 12/02/2021
*/
<header id="header" class="fixed-top">
<div class="container d-flex align-items-center">
<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
<h1 class="logo mr-auto"><a href="/"><i class="fab fa-korvue" style="color:DodgerBlue;">Keval</i></a></h1>
<!-- Uncomment below if you prefer to use an image logo -->
<!-- <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

<nav class="nav-menu d-none d-lg-block">
<ul>
<li ><a href="/">Home</a></li>
<li><a href="/aboutMe">About Me</a></li>
<li><a href="/p">Projects</a></li>

<li><a href="/service">Services</a></li>

<li><a href="/c">Contact</a></li>
</ul>
</ul>

</nav><!-- .nav-menu -->
  

</div>
</header><!-- End Header -->
