/**
* File name :service page
* Keval Sanjaybhai Patel
* Student ID 301171202
* Date: 12/02/2021
*/
doctype html
include ./partials/header.jade
html
  head  
    head
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="/assets/img/favicon.png")
    link(rel="stylesheet", href="/assets/img/apple-touch-icon.png")
    link(rel='stylesheet', href='/@fortawesome/fontawesome-free/css/all.min.css')
    link(rel='stylesheet', href='/Content/app.css')
    link(rel="stylesheet", href='/assets/vendor/bootstrap/css/bootstrap.min.cs')   
    link(rel="stylesheet", href="/assets/vendor/icofont/icofont.min.cs")
    link(rel="stylesheet", href="/assets/vendor/boxicons/css/boxicons.min.css")
    link(rel="stylesheet", href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/vendor/venobox/venobox.css")
    link(rel="stylesheet", href="/assets/vendor/aos/aos.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(rel="stylesheet", href="/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i")
  head
<main>
<!-- ======= Container in top ======= -->
<section id="about" class="about section-bg">
<div class="container" data-aos="fade-up">
</main><!-- ======= End of container ======= -->

<body>
<!-- ======= Service page ======= -->
<!-- First Card -->
<section id ="about" class="about section-bg">
<div class="section-title">
<h2>Services</h2>
<h3><span>Below mention is my expertise</span></h3>
<div class="services">
<div class="service-1">
<div class="shapes">
<div class="shape-1 right"></div>
<div class="shape-2 right"></div>
<div class="shape-3 right"></div>
</div>
<div class="img">
<img src="assets/img/development.png" alt="IMAGE">
</div>
<div class="description">
<h2> Web Development </h2>
<p> Fully customise website with UI/UX designing and high quality </p>
</div>
<div class="shapes">
<div class="shape-4"></div>
<div class="shape-5"></div>
<div class="shape-6"></div>
</div>
</div>

<!-- Second Card -->
<div class="service-1">
<div class="shapes">
<div class="shape-1 right"></div>
<div class="shape-2 right"></div>
<div class="shape-3 right"></div>
</div>
<div class="img">
<img src="assets/img/python.png" alt="IMAGE">
</div>
<div class="description">
<h2> Python Developer </h2>
<p> Experience Python Developer and Knows frameworks of Python </p>
</div>
<div class="shapes">
<div class="shape-4"></div>
<div class="shape-5"></div>
<div class="shape-6"></div>
</div>
</div>

<!-- Third Card -->
<div class="service-1">
<div class="shapes">
<div data-aos="zoom in"></div>
<div class="shape-1 right"></div>
<div class="shape-2 right"></div>
<div class="shape-3 right"></div>
</div>
<div class="img">
<img src="assets/img/javascript.png" alt="IMAGE">
</div>
<div class="description">
<h2> JavaScript </h2>
<p> Frontend Development, App developement using JavaScript</p>
</div>
<div class="shapes">
<div class="shape-4"></div>
<div class="shape-5"></div>
<div class="shape-6"></div>
</div>
</div>
</div>
</section><!-- ======= End of Service Page======= -->


</body>



<!-- =======loading screen and back to top button ======= -->
<div id="preloader"></div>
<a href="Home" class="back-to-top"><i class="icofont-simple-up"></i></a>
<!-- ======= end of loading screen and back to top button ======= -->

<!-- ======= Footer ======= -->
include ./partials/footer.jade 
<!-- =======end of  Footer ======= -->
script(src ="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/Scripts/app.js")
script(src="/public/Assets/images")
script(src="assets/vendor/jquery/jquery.min.js")
script(src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="assets/vendor/jquery.easing/jquery.easing.min.js")
script(src="assets/vendor/php-email-form/validate.js")
script(src="assets/vendor/waypoints/jquery.waypoints.min.js")
script(src="assets/vendor/counterup/counterup.min.js")
script(src="assets/vendor/owl.carousel/owl.carousel.min.js")
script(src="assets/vendor/isotope-layout/isotope.pkgd.min.js")
script(src="assets/vendor/venobox/venobox.min.js")
script(src="assets/vendor/aos/aos.js")

  <!-- Template Main JS File -->
script(src="assets/js/main.js")
